html {
  font-family: sans-serif;
  background-color: #556688;
}

h1,
a {
  color: navy;
}

h2 {
  color: #4682B4;
}

header {
  color: white;
  background-color: #556688;
  padding: 1px 0 30px 0;
}

header a {
  font-weight: bold;
  color: white;
}

header #title {
  color: white;
  padding: 10px;
}

#menu {
  display: inline;
}

#menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu li {
  margin: 0;
  padding: 10px;
  display: inline;
}

footer {
  padding: 10px 10px;
  background-color: #556688;
  color: white;
}

footer a {
  font-weight: bold;
  color: white;
}

body {
  background-color: #ffffff;
  margin: 0 auto;
}

figure {
  margin: 20px;
}

figure img {
  width: 200px;
}

main {
  padding: 10px;
}

blockquote {
  margin-left: 0;
  border-left: solid #878787 4px;
  padding-left: 0.5em;
}

cite {
  display: block;
}

#more {
  font-weight: bold;
  background-color: #978fad;
  padding: 10px;
  font-size: 18px;

  cursor: pointer;
}

#more:hover {
  background-color: #78e6cf;
}

#more-content {
  background: #bbbbbb;
  padding: 10px;
}

#mail {
  width: 300px;
}

#submit {
  margin-top: 10px;
}

#database {
  float: right;
}

cite {
  font-size: 70%;
}

.error {
  display: inline-block;
  background-color: white;
  border: 1px #b92467 solid;
  color: #b92467;
  padding: 5px;
  font-weight: bold;
}

.hidden {
  display: none;
}
